<%- include('../template/head') %>
<%- include('../template/navAdmin') %>
<div class="container d-flex justify-content-center text-center">
    <form action="http://localhost:3030/admin/editarImagen"  method="post"  style="width:50%; background: #eaeaea;" class="mt-2 px-5 py-2 ">
        <% producto.forEach((producto) => { %>
            <form action="/admin/editarImagen" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id" id="id" value="<%= producto.id %>">
                <div class="form-group my-3">
                    <input type="file" class="form-control" name="nuevaImagen" id="nuevaImagen">
                </div>
                <button type="submit" class="btn btn-success" id="btn_crear" name="btn_crear"
                    value="Crear">Editar</button>
            </form>
        <% }); %>
    </form>
</div>





<%- include('../template/footer') %>




<%- include('../template/cierre') %>