<%- include('../template/head'); %>
    <%- include('../template/navAdmin'); %>
        <div class="container">
            <ul class="nav nav-pills d-flex justify-content-center mt-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Lista de productos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product"
                        type="button" role="tab" aria-controls="product" aria-selected="false">Agregar producto</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories"
                        type="button" role="tab" aria-controls="categories" aria-selected="false">Agregar categoria</button>
                </li>
            </ul>
            <div class="row">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <table id="tabla" class=" mt-5 table table-hover">
                            <thead>
                                <th class="col-1 text-center">ID</th>
                                <th class="col-2 text-center">Titulo</th>
                                <th class="col-2 text-center">Precio</th>
                                <th class="col-3 text-center">IMAGEN</th>
                                <th class="col-2 text-center">CATEGORIA</th>
                                <th class="col-2 text-center">Acci처n</th>
                            </thead>
                            <tbody>
                                <% products.forEach((product)=> { %>
                                    <tr class="table-primary">
                                        <td class="col-1 text-center">
                                            <%= product.id %>
                                        </td>
                                        <td class="col-2 text-center">
                                            <%= product.title %>
                                        </td>
                                        <td class="col-2 text-center">
                                            $<%= product.price %>
                                        </td>
                                        <td class="col-3">
                                            <div class="tabla-imagen">
                                                <img src="../../../public/imagen/<%=product.image %>" alt="">
                                               
                                            </div>
                                        </td>
                                        <td class="col-2 text-center">
                                            <%= product.name%>
                                        </td>
                                        <td class="col-2">
                                            <a href="/admin/editar/<%= product.id%>" class="btn btn-success col-5" ><i class="fa-regular fa-pen-to-square"></i></a>
                                            <a onclick="Delete('<%= product.id %>')" class="btn btn-danger col-5"><i class="fa-regular fa-trash-can"></i></a>
                                        </td>
                                    
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    <div class="tab-pane fade " id="product" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                        <div class="d-flex justify-content-center">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <form action="/admin" enctype="multipart/form-data" method="post" id="form">
                                    <div class="form-group my-3">
                                        <input type="text" class="form-control" name="title" id="title"
                                            placeholder="Titulo" required>
                                    </div>
                                    <div class="form-group my-3">
                                        <textarea class="form-control" name="description" id="description" cols="30"
                                            rows="10" placeholder="Descripci처n" required></textarea>
                                    </div>
                                    <div class="form-group my-3">
                                        <input type="number" class="form-control" name="price" id="price"
                                            placeholder="Precio" required>
                                    </div>
                                    <div class="form-group my-3">
                                        <input type="number" class="form-control" name="stock" id="stock"
                                            placeholder="Cantidad de stock" required min="1">
                                    </div>
                                    <div class="form-group my-3">
                                        <select name="categories" id="" class="form-select" required>
                                            <option value="" selected> Selectione una Categoria</option>
                                            <% categories.forEach((categorie)=> { %>
                                            <option value="<%= categorie.id_category %>" ><%= categorie.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group my-3"> 
                                        <input type="file" class="form-control" name="image" id="image" required>
                                    </div>
                                    <button type="submit" class="btn btn-success">Crear</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="categories" role="tabpanel" aria-labelledby="categories-tab" tabindex="0">
                        <div class="d-flex justify-content-center">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <form action="/admin/category" method="post">
                                    <div class="form-group my-3">
                                        <input type="text" class="form-control" name="category" id="category"
                                            placeholder="Nombre de la categoria" required>
                                    </div>
                                    <div class="form-group my-3">
                                        <textarea class="form-control" name="description" id="description" cols="30"
                                            rows="10" placeholder="Descripci처n" required></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-success">Crear</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<%- include('../template/footer') %>
<script src="/public/jquery.js"></script>
<script src="/public/datatables.js"></script>
    <script>
        $(document).ready( function () {
            $('#tabla').DataTable();
        } );
    </script>
    
    <script>
        
        const triggerTabList = document.querySelectorAll('#myTab button')
        triggerTabList.forEach(triggerEl => {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', event => {
                event.preventDefault()
                tabTrigger.show()
            })
        })
        
        function Delete(id){
            Swal.fire({
                title:`Estas a punto de eliminar el registro  N째${id}?`,
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: `Cancelar`,
                confirmButtonColor: '#d9534f',
                cancelButtonColor: '#4bbf73' 
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/admin/eliminar/'+id
                } else if (result.isDenied) {
                    Swal.fire('Los cambios no se guardaron', '', 'info')
                }
            })
        }
 
    </script>

<%- include('../template/cierre') %>
        