<%- include('../template/head'); %>
<%- include('../template/navbar'); %>

<div class="container">
    <div class="row">
    <% products.forEach((product) => { %>
            <div class="col-4 cards">
                <div class="card mb-5">
                    <div class="img">
                        <img src="../../../images/product.image %>">
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title"><%= product.title %></h5>
                      <p class="card-text">$<%= product.price %></p>
                      <a href="#" class="btn btn-success">Comprar</a>
                      <a href="/productos/<%= product.id %>/view" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
</div>


<%- include('../template/footer'); %>